@import 'tailwindcss';
@plugin '@tailwindcss/typography';

[x-cloak] {
    display: none !important;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Cairo', ui-sans-serif, system-ui, sans-serif;

    --color-ugtm-purple: #C77398;
    --color-navy-800: #2C3E50;
    --color-navy-900: #1a252f;
}